<section class="section">
    <h3>Create New</h3>
    <form method="POST" action="/fandoms">
    <div class="input-field">
    <label for="mediaName">Fandom name:</label>
    <input type="text" name="mediaName" />
    </div>
    <div class="input-field">
    <label for="mediaType">Media Type:</label>
    <select name="mediaTypeId">
        {{#each mediaTypes}}
        <option value="{{_id}}">{{typeName}}</option>
        {{/each}}
    </select>
    </div>
    <div class="input-field">
    <input type="submit" value="Create New" class="btn"/>
    </div>
    </form>
</section>
<div class="divider"></div>
<section class="section">
    <h3>Edit Existing</h3>
    {{#each fandoms}}
    <p><a href="/fandoms/{{_id}}/edit">{{mediaName}}</a></p>
    {{/each}}
</section>