<section class="section">
    <h3>Add New Media Type</h3>
    <form method="POST" action="/mediatypes">
    <div class="input-field">
        <input type="text" name="typeName" required />
    </div>
    <div class="input-field">
        <input type="submit" value="Create" class="btn">
    </div>
    </form>
</section>
<div class="divider"></div>
<section class="section">
    <h2>Edit Existing</h2>
    {{#each mediaTypes}}
    <form method="POST" action="/mediatypes/{{_id}}?_method=PUT">
    <div class="input-field">
        <input type="text" name="mediaName" value="{{typeName}}" required />
    </div>
    <div class="input-field">
        <input type="submit" value="Edit" class="btn"/>
    </div>
    </form>
    <form method="POST" action="/mediatypes/{{_id}}?_method=DELETE">
    <div class="input-field">
        <input type="submit" value="Delete" class="btn red accent-4"/>
    </div>
    </form>
    {{/each}}
</section>