<h1 class="center-align">Welcome to FanList</h1>
<div class="row">
<div class="col s12 m6">
    <div class="card">
    <div class="card-content">
        <span class="card-title">Fandoms</span>
        <p>Explore the list of fandoms.</p>
    </div>
    <div class="card-action">
        <a href="/fandoms">Go to fandoms</a>
    </div>
    </div>
</div>
<div class="col s12 m6">
    <div class="card">
    <div class="card-content">
        <span class="card-title">Fans</span>
        <p>Find fans by username.</p>
    </div>
    <div class="card-action">
        <a href="/users">Go to fans</a>
    </div>
    </div>
</div>
</div>