<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FanList | {{title}}</title>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script defer src="/js/materialize.min.js"></script>
    <script defer src="/js/script.js"></script>
</head>
<body>
<nav>
<div class="nav-wrapper">
    <a href="/" class="brand-logo">FanList</a>
    <a href="#" data-target="mobile-menu" class="sidenav-trigger">Menu</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Fans</a></li>
        <li><a href="/fandoms">Fandoms</a></li>
        <li><a href="/users/signup" class="btn">Sign Up</a></li>
        <li><a href="/admin" class="btn">Admin</a></li>
    </ul>
</div>
</nav>
<ul class="sidenav" id="mobile-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Fans</a></li>
    <li><a href="/fandoms">Fandoms</a></li>
    <li><a href="/users/signup">Sign Up</a></li>
    <li><a href="/admin">Admin</a></li>
</ul>
    <div class="container main-container">
    {{{body}}}
    </div>
<footer class="page-footer">
    2019
</footer>
</div>
</body>
</html>