@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .brand-logo {
    font-family: 'Quicksand', serif;
}
.main-container {
    min-height: 85vh;
}
a {
    color: #4e342e;
}
.btn, .btn-small, .btn-large {
    background-color: #ef8600;
}
.btn:hover, .btn-small:hover, .btn-large:hover {
    background-color: #ffab40;
}
.collection a.collection-item {
    color: #4e342e;
}