<section class="section">
    <div class="columns">
    <div class="column is-half container">
    <h2 class="title is-2">Sign Up</h2>
    <form method="POST" action="/users" class="control">
        <div class="field">
            <label for="username" class="label">Username:</label>
            <div class="control">
                <input type="text" name="username" class="input" />
            </div>
        </div>
        <div class="control">
            <input type="submit" class="button is-link" value="Submit" />
        </div>
    </form>
    </div>
    </div>
</section>
