<h2>{{fandom.mediaName}}</h2>
{{!-- media type functionality not implemented yet --}}
<h3>{{mediaType.typeName}}</h3>
<div>
    {{#each users}}
    <p><a href="/users/{{_id}}">{{username}}</a></p>
    {{/each}}
</div>